
Computer_graphics/.vs/Computer_graphics/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.log
*.ilk
*.obj
*.idb
*.pdb
*.exe
*.res
*.ipdb
*.iobj
*.recipe
*.cso

Computer_graphics/x64/
Computer_graphics/x64/Debug/
Computer_graphics/x64/Release/
Computer_graphics/Computer_graphics/x64/
